
#video {
    position: absolute;
    margin: 0 0 0 0;
  background-color: rgba(0, 0, 0);
    width: 100%;
    height: '';
}

#filter{
   position: absolute; 
/* 50% opacity for supported browsers */
  background-color: rgba(82, 240, 227, 0.4);
      width: 100%;
    height: '';
}

#snap{
    color: black;

}

#canvas {
/* 70% opacity for supported browsers */
      background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: '';
}